*
{
  margin: 0;
  padding: 0;
}

img
{

}

header
{
  background-color: white;
  color: rgb(28, 40, 51);
  align-items: center;
  text-align: center;
  justify-content: center;
}

body
{
  background-color: #b0f2c2;
}

.container
{
    display: flexbox;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.theme
{
    border: 3px double maroon;
    background-color: #ffda9e;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: auto;
    padding: 10px;
    margin-top: 10px;
}

.card
{
    border: 3px double maroon;
    background-color: aqua;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: auto;
    padding: 10px;
    margin-top: 10px;
}

.card img
{
  
}

footer
{
  background-color: black;
  color: white;
}